button {
    border: none;
    border-radius: 1.5rem;
    background-color: var(--terciario);
    font-size: 3rem;
    aspect-ratio: 1/1;
}

button:active {
    transform: scale(1.02);
}

button.gris {
    background-color: var(--secundario);
}

button.operacion {
    background-color: var(--primario);
    color: #FFFFFF;
}